#dialog-detective-tab {
    width: 50%;
    height: relative;
    max-height: 70%;
    max-width: 50%;
    background-color: #333333;
    border: 1px solid #444444;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: fadeIn 0.25s;
    border-radius: 10px;
    /* put the dialog at the center of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-title {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: #c91959;
}

#dialog-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background: none;
    border: none;
}

#dialog-detective-tab-body {
    display: flex;
}

h4 {
    margin: 0;
    color: #c91959;
}

#dialog-body-left,
#dialog-body-right {
    color: white;
    width: 50%;
    overflow-wrap: break-word;
    padding: 5px;

}

.eye-button-group{
    background-image: url("https://cdn-icons-png.flaticon.com/512/6751/6751372.png");
    background-size: contain;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}