* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.toastbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 9999;
}

.toast {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    animation: moveInRight 0.5s ease-in-out forwards;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.toast.out {
    animation: moveOutRight 0.5s ease-in-out forwards;
}

@keyframes moveOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.toast i {
    margin-right: 10px;
    font-size: 18px;
}

.toast.success {
    background-color: #d4edda;
    color: #155724;
}

.toast.success i {
    color: #28a745;
}

.toast.information {
    background-color: #d1ecf1;
    color: #0c5460;
}

.toast.information i {
    color: #17a2b8;
}

.toast.error {
    background-color: #f8d7da;
    color: #721c24;
}

.toast.error i {
    color: #dc3545;
}